@model MvcDemo.Models.Member
@{
    ViewBag.Title = "Membership";
}

<h2>Please fill the form below to get Membership.</h2>

 @using (Html.BeginForm("Membership", "Home"))
 {
     <p>MembershipID: @Html.EditorFor(m=>m.MemberID) </p>
     <p>MembershipName: @Html.EditorFor(m=>m.MemberName) </p>
     <p>MembershipAddress: @Html.EditorFor(m=>m.MemberAddress) </p>
     <p>MembershipAge: @Html.EditorFor(m=>m.MemberAge) </p>
     <p><input type="submit"/></p>
 }
