@{
    ViewBag.Title = "Home Page";
    <section class="featured">
        <div class="content-wrapper">
            <p id="login">
                Ussername: <input type="text" />
                Password: <input type="text" />
                <input type="button" value="sign in" onclick="Thanks.html" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
            </p>
        </div>
    </section>
}
