@model MvcDemo.Models.Member
@{
    ViewBag.Title = "Thanks";
}
<h1> WelCome >@Model.MemberName </h1>
<h2>Click Blow to view the Members Record</h2>

<h3>You have an ID number @Model.MemberID</h3>

<img src="../Images/1.jpg"/>
